@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
    font-family: 'Roboto', sans-serif;
  }

.sns-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.sns-icons li {
  margin: 0 5px;
}
